html {
	cursor:crosshair
}

.container{
	height: 463px;
	width: 463px;
	margin: 0 auto;
	text-align: center;
	font-size: 50px;
	
}

.cells {
	width: 150px;
	height: 150px;
	border: 2px solid black;
	background-color: darkgrey;
	float: left;
}

.cells:hover {
	width: 150px;
	height: 150px;
/*	background-color: rgba(110,210,130,0.9); */
	float: left;
}

.cells:hover{
	-webkit-transition: background-color 1.2s ease; 
	border: 2px solid rgb(170,220,220);
}



.bgblue {
	background-color: blue;
}

.xBackground {
	background-color: yellow;
}

.oBackground {
	background-color: purple;
}

