<!DOCTYPE html>
<html x-ng-app="gameTTT">
<head>
<title>Tic Tac Toe</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="js/script.js"></script>
<link rel="stylesheet" href="css/style.css">
<script src="js/cursor.js"></script>
</head>
<body x-ng-controller="TicTacToeCtrl" x-ng-init="board =['','','','','','','','','']">

<div class="container">
	
	<div class="header">Tic Tac Toe</div>
			
			<div x-ng-class="{
			'cells': true, 
			'bgblue': $even, 
			'xBackground': b=='X', 
			'oBackground': b=='O' 
							}" 
			x-ng-repeat="b in board track by $index" 
			x-ng-click="togglePlayer($index)">
			
			<div> </div>

	</div> <!-- end of cells -->
	<div class="score">Player X Wins:{{xWins}}----Player O Wins:{{oWins}}</div>
	<div class="reset"><input type="button" value="Reset" x-ng-click="clearBoard();" /></div>
</div> <!-- end of container -->
</body>
</html>