<!DOCTYPE html>
<html x-ng-app="gameTTT" id="htmlBG">
<head>
<title>Tic Tac Toe</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="https://cdn.firebase.com/v0/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
<script src="js/script.js"></script>
<script src="js/cursor.js"></script>
<link rel="stylesheet" href="css/style.css">
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

</head>
<body x-ng-controller="TicTacToeCtrl">

<div class="container">
	
	<div class="header">Tic Tac Toe</div>
			
			<div x-ng-class="{
			'cells': true, 
			'bgEven': $even,
			'bgOdd': $odd, 
			'xBackground': b=='X', 
			'oBackground': b=='O' 
							}" 
			x-ng-repeat="b in game.board track by $index" 
			x-ng-click="togglePlayer($index)">
			<div> </div>

	</div> <!-- end of cells -->
</div> <!-- end of container -->
<div class="clearfix"></div>
<div class="score">
	Player-X Wins: {{game.xWins}} <br />  
	Player-O Wins: {{game.oWins}} <br /> 
	Ties: {{game.ties}} <br />
	</div>
	<br />
	<div class="reset">
	<button
	style="font-size: 25px; font-family: Arial; border: 10px double black;"  
	value="Reset" x-ng-click="clearBoard();">Reset</button>
	</div>

</body>
</html>